.venv/
__pycache__/
*.pyc
.DS_Store
checkpoints/

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

indices/*
!indices/.gitkeep

models/*
!models/.gitkeep

notebooks/*
!notebooks/.gitkeep
